@dark-grey: #494747;
@light-grey: #d4d4d4;


@dark-blue: #0c1443;
@dark-blue2: #120c43;
@pale-blue: lighten(@dark-blue, 80%);
@light-blue: #50c9fd;
@dark-green: #1c5b02;
@neutral: #f2ece2;

// mine

// pallet url: http://colorschemedesigner.com/#2Q21TYI88WTdJ3WTC-4QuIgsTGOr
@Evergreen-lighter: #dcdcdc;
@Evergreen-light: #b6b6b6;
@Evergreen-medium: #C2C2C2;
@Evergreen-dark: #313131;
@Evergreen-darkgreen: #0D1B0E;
@Evergreen-verydark: #000000;
@Evergreen-green: #08400C;
@Evergreen-lightgreen: #115215;
@Evergreen-darkred: #410200;
@Evergreen-red: #6A0E0B;


@font-size-inc: 2px;
@font-size-base: 4*@font-size-inc;

@padding-inc: 2px;
@padding-base: 4*@padding-inc;

@heading-color: @Evergreen-lighter;
@text-color: @Evergreen-light;
@titleText-color: @Evergreen-lighter;
@titleLine-color: @Evergreen-lighter;

@box-color: @Evergreen-dark;

@background-color: @Evergreen-verydark;
@titleBar-color: @Evergreen-verydark;
@divider-color: @Evergreen-green;
@font-serif: 'Quattrocento', serif;
@font-sans: 'Raleway', sans-serif;
