@dark-grey: #494747;
@light-grey: #d4d4d4;

@blue: #19187f;

@dark-blue: #0c1443;
@dark-blue1: #120c43;
@pale-blue: #dadff2;
@highlight-blue: @light-grey;

@medium-blue: lighten(@dark-blue, 10%);
@medium-dark-blue: lighten(@dark-blue, 5%);

@light-blue: #50c9fd;
@dark-green: #1c5b02;
@neutral-dark: #f2ece2;
@neutral: #f5efe5;
// mine
// pallet url: http://colorschemedesigner.com/#2Q21TYI88WTdJ3WTC-4QuIgsTGOr
@Evergreen-lightest: #f8f8f8;
@Evergreen-lighter: #d6d6d6;
@Evergreen-light: #b6b6b6;
@Evergreen-palegreen: #96B597;
@Evergreen-medium: #C2C2C2;
@Evergreen-dark: #313131;
@Evergreen-darkgreen: #0D1B0E;
@Evergreen-verydark: #111111;
@Evergreen-green: #08400C;
@Evergreen-lightgreen: #1b5915;
@Evergreen-darkred: #410200;
@Evergreen-red: #6A0E0B;

@size-inc: 4px;
@size-base: 2*@size-inc;
@size-small: 4*@size-inc;
@size-heading: 5*@size-inc;
@size-medium: 6*@size-inc;
@size-large: 8*@size-inc;
@size-title: 10*@size-inc;

@heading-color: @blue;
@text-color: @dark-blue;
@titleText-color: @blue;
@titleSub-color:  @dark-blue;

@link-color: @highlight-blue;

@box-color: @neutral;

@background-color: @neutral;
@hover-color: @highlight-blue;
@titleBar-color: @neutral;
@sub-color: @medium-dark-blue;
@tag-color: @medium-blue;

@divider-color: @medium-dark-blue;
@font-serif: 'Quattrocento', serif;
@font-sans: 'Raleway', sans-serif;
