@import "basic.less";
body {
    font-family: @font-sans;
    font-weight: 300;
    position: absolute;
    font-size: @font-size-base;
    background-color: @background-color;
    width: 100%;
}
#container {
   min-height:100%;
   position:relative;
   top:0;
   color: @titleBar-color;

}
#content {
   padding-bottom: @font-size-base*2;
   padding-top: @font-size-base;
   top:0;
   color: @titleBar-color;

}
a:link {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;
}
a:visited {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;
}
a:hover {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;
}
a:active {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;
}
.title{
    padding-top:@font-size-base;
height: @font-size-base*3 ;

}
.sub{
    font-family: @font-serif;
    text-align: center;
    font-size: @font-size-base*2;
    font-weight: lighter;
    color: @Evergreen-lightgreen;
height: @font-size-base*3 ;

}

.sub-hover{
    padding-left: @padding-inc;
    padding-right: @padding-inc;
    position: relative;
    margin: 0 @padding-inc*2 0;
    border-bottom: 3px solid  @Evergreen-dark;
}
a.sub-hover:hover{
    border-bottom-color:@Evergreen-red;
}
a.red-hover:link {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;

}
a.red-hover:visited {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;

}
a.red-hover:hover {
    color: @Evergreen-red; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;

}
a.red-hover:active {
    color: @Evergreen-red; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: inherit;

}
.home{
    margin-top: 20%;
    margin-bottom: 20%;

    font-family: @font-serif;
    text-align: center;
    font-size: @font-size-base*3;
    font-weight: lighter;
    color: @heading-color;
    vertical-align:middle;
}

.page-content{
    font-family: @font-serif;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
    margin-bottom: 2%;

    padding-top:2%;
    padding-right:2%;
    padding-left:2%;
    padding-bottom:2%;
    -moz-border-radius: 10px;
    border-radius: 10px;

    background-color: @box-color;

    text-align: left;
    font-size: @font-size-base*2;
    font-weight: lighter;
    color: @titleBar-color;
}
h1{
    font-family: @font-serif;
    font-size: @font-size-base*2;
    font-weight: 700;
    color: @heading-color;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    margin-bottom:@padding-base;

}
h2{
    font-family: @font-sans;
    font-size: @font-size-base*1+@font-size-inc*3;
    font-weight: 700;
    color: @heading-color;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    margin-bottom:0;
}
p{
    font-family: @font-sans;
    font-size: @font-size-base+@font-size-inc;
    font-weight: 300;
    color: @text-color;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    margin-bottom:0;
}
.divider{
    width:100%;
    padding-top:@font-size-inc*1.5;
    padding-right:0;
    padding-left:0;
    padding-bottom:0;

    margin: 0 0 0 0;
    background-color: @divider-color;
}
