@import "basic.less";
body {
    font-size: @size-base;
    background-color: @background-color;
    width: 100%;
}

#container {
   min-height:100%;
   min-width:100%;
   position:absolute;
   top:0;
   color: @titleBar-color;
}

#content {
   color: @titleBar-color;
   margin-left: 4%;
   margin-right: 4%;
   margin-top: @size-small;
   margin-bottom: 5*@size-inc+4*@size-base;
}

.home{
    margin-top: 20%;
    margin-bottom: 20%;

    font-family: @font-serif;
    text-align: center;
    font-size: @size-large;
    font-weight: lighter;
    color: @heading-color;
    vertical-align: middle;
}

.page-content{
    padding-top: 2%;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: @box-color;
    min-height: 151px + 2*@size-base;
    text-align: left;
    font-weight: lighter;
    color: @titleBar-color;
}

h1{
    font-family: @font-sans;
    font-size: @size-medium;
    font-weight: 400;
    color: @heading-color;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    margin-bottom:@size-base;
    text-align: center;
    width:100%;
}

h2{
    font-family: @font-sans;
    font-size: @size-small;
    font-weight: 700;
    color: @heading-color;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    margin-bottom:0;
    padding-top:@size-small/2;
    line-height:0;
}
h3{
    font-family: @font-sans;
    font-size: @size-small;
    font-weight: 400;
    color: @heading-color;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    margin-bottom:0;
    padding:0;
}

p{
    font-family: @font-sans;
    font-size: @size-small;
    font-weight: 300;
    color: @text-color;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    margin-bottom:0;
}
img{
    margin: @size-base;
    margin-left: @size-small;
    float: right;
}
.divider{
    width:100%;
    padding-top:@size-inc;
    padding-right:0;
    padding-left:0;
    padding-bottom:0;

    margin: 0 0 0 0;
    background-color: @divider-color;
}

a:link {
    color: inherit;
   text-decoration: inherit;
    font-size: inherit;
}

a:visited {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

a:hover {
    color: inherit;
 xt-decoration: inherit;
    font-size: inherit;
}

a:active {
    color: inherit;
   tx-ecoration: inherit;
    font-size: inherit;
}

.title{
    padding-top: @size-base;
    height: @size-title ;

}
.sub{
    font-family: @font-serif;
    text-align: center;
    font-size: @size-large;
    font-weight: lighter;
    color: @Evergreen-lightgreen;
    height: @size-medium ;

}
.content-box{
     width: 100%;
}
.content-split{
    padding-top: @size-small;
}
.content-title{
    display:inline-block;
    width: 10%;
    vertical-align: top;
    padding-top: @size-inc;
}
.content-text{
    padding-left: @size-large;
    display:inline-block;
    vertical-align: top;
    width: 70%;
    padding-top: @size-inc;

}


.sub-hover{
    padding-left: @size-inc;
    padding-right: @size-inc;
    // position: relative;
    margin: 0 @size-inc 0;
    border-bottom: 3px solid  @Evergreen-dark;
}
a.sub-hover:hover{
    border-bottom-color:@Evergreen-red;
}
p a.red-hover:link {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;

}
a.red-hover:visited {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;

}
a.red-hover:hover {
    color: @Evergreen-red;
    text-decoration: inherit;
    font-size: inherit;

}
a.red-hover:active {
    color: @Evergreen-red;
    text-decoration: inherit;
    font-size: inherit;

}
p a.red-hover:link {
    color: @Evergreen-palegreen;
    text-decoration: inherit;
    font-size: inherit;

}
p a.red-hover:visited {
    color: @Evergreen-palegreen;
    text-decoration: inherit;
    font-size: inherit;

}
p a.red-hover:hover {
    color: @Evergreen-red;
    text-decoration: inherit;
    font-size: inherit;

}
p a.red-hover:active {
    color: @Evergreen-red;
    text-decoration: inherit;
    font-size: inherit;

}
