/*! Use body.less and header.less to update css styles- master.css is a compiled less file and will be overwritten
basic.less is only for storing variables to be used across less files*/
body {
  font-size: 8px;
  background-color: #111111;
  width: 100%;
  margin: 0;
  padding: 0;
}
#container {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  color: #111111;
}
#content {
  color: #111111;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 16px;
  margin-bottom: 52px;
}
.home {
  margin-top: 15%;
  margin-bottom: 15%;
  font-family: 'Quattrocento', serif;
  text-align: center;
  font-size: 32px;
  font-weight: lighter;
  color: #f8f8f8;
  vertical-align: middle;
}
.page-content {
  margin-top: 2%;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
  padding-bottom: 2%;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background-color: #313131;
  text-align: left;
  font-weight: lighter;
  color: #111111;
}
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #f8f8f8;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 8px;
  text-align: center;
  width: 100%;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: #d6d6d6;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding-top: 8px;
}
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #d6d6d6;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #b6b6b6;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}
.main-img {
  margin: 8px;
  margin-left: 16px;
  float: right;
}
.divider {
  width: 100%;
  padding-top: 4px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
  margin: 0 0 0 0;
  background-color: #08400c;
}
a:link {
  text-decoration: inherit;
  font-size: inherit;
}
a:visited {
  text-decoration: inherit;
  font-size: inherit;
}
a:hover {
  text-decoration: inherit;
  font-size: inherit;
}
a:active {
  text-decoration: inherit;
  font-size: inherit;
}
.title {
  padding-top: 8px;
  height: 40px;
}
.content-box {
  width: 100%;
}
.content-split {
  padding-top: 16px;
}
.content-mixed {
  display: relative;
  width: 100%;
  text-align: center;
}
.content-title {
  display: inline-block;
  width: 12%;
  vertical-align: top;
  padding-top: 4px;
}
.content-text {
  padding-left: 32px;
  padding-right: 32px;
  display: inline-block;
  vertical-align: top;
  width: 68%;
  padding-top: 4px;
}
.content-link {
  display: relative;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 1em;
  text-align: center;
}
.main-link i {
  font-size: 24px;
  font-color: inherit;
}
.base-bar.main-link i {
  font-color: inherit;
  font-size: 16px;
}
.main-link a:link {
  font-color: white;
}
.content-link p {
  display: inline-block;
  vertical-align: middle;
}
.content-image {
  display: inline-block;
  padding-right: 8px;
  vertical-align: middle;
}
a.home-menu {
  font-family: 'Quattrocento', serif;
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
  color: white;
  height: 24px;
}
.home-menu {
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0px 9px 9px -12px #96b597;
}
a.home-menu:hover {
  color: #6a0e0b;
  box-shadow: 0px 9px 9px -10px #6a0e0b;
}
a.home-menu:active {
  color: #6a0e0b;
  box-shadow: 0px 9px 9px -10px #6a0e0b;
}
.title.home-menu {
  color: #f8f8f8;
}
.tagline {
  padding-left: 4px;
  padding-right: 4px;
}
a.tagline {
  font-family: 'Quattrocento', serif;
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
  color: #96b597;
  height: 24px;
}
.sub-menu {
  padding-left: 4px;
  padding-right: 4px;
  margin: 0 4px 0;
}
a.sub-menu {
  font-family: 'Quattrocento', serif;
  text-align: center;
  font-size: 24px;
  font-weight: lighter;
  color: #1b5915;
  height: 24px;
}
a.sub-menu:hover {
  border-bottom: 3px solid;
  border-bottom-color: #6a0e0b;
}
a.main-link:link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
p a.main-link:link {
  color: #96b597;
  text-decoration: inherit;
  font-size: inherit;
}
p a.main-link:link i {
  color: white;
  text-decoration: inherit;
}
a.main-link:visited {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}
p a.main-link:visited {
  color: #96b597;
  text-decoration: inherit;
  font-size: inherit;
}
p a.main-link:visited i {
  color: white;
  text-decoration: inherit;
}
a.main-link:hover {
  color: #6a0e0b;
  text-decoration: inherit;
  font-size: inherit;
}
p a.main-link:hover {
  color: #6a0e0b;
  text-decoration: inherit;
  font-size: inherit;
}
p a.main-link:hover i {
  color: #6a0e0b;
  text-decoration: inherit;
}
a.main-link:active {
  color: #6a0e0b;
  text-decoration: inherit;
  font-size: inherit;
}
p a.main-link:active {
  color: #6a0e0b;
  text-decoration: inherit;
  font-size: inherit;
}
#header {
  width: 100%;
  color: #f8f8f8;
  background-color: #111111;
  font-family: 'Quattrocento', serif;
  font-weight: normal;
  margin: 0 0 0 0;
  padding: 4px 4px 0;
  box-shadow: 0px 3px 15px -5px #000000;
  top: 0;
}
.title-bar {
  width: 100%;
  display: block;
}
#title-head {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  margin: 0 4px;
  font-size: 32px;
}
.sub-link {
  float: right;
  padding-right: 8px;
  padding-left: 8px;
  display: inline-block;
  vertical-align: top;
}
.sub-link a {
  font-size: 16px;
}
#title {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  font-size: 40px;
  margin: 0 4px;
}
.title-bar a {
  color: #f8f8f8;
}
.title-bar li {
  text-align: left;
  font-weight: lighter;
}
.title-bar ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  margin-top: 4px;
  padding: 0;
}
.title-bar ul li {
  float: left;
  padding-top: 0;
  padding-left: 2;
  padding-right: 2;
  margin: 0 8px 0;
  border-bottom: 3px solid;
  border-bottom-color: #313131;
  font-size: 24px;
  height: 1.1em ;
}
.title-bar ul li a {
  color: #d6d6d6;
}
.title-bar ul li:hover {
  border-bottom-color: #6a0e0b;
}
#selected {
  border-bottom-color: #1b5915;
}
#footer {
  bottom: 0;
  width: 100%;
  display: block;
  text-align: center;
  vertical-align: center;
  position: absolute;
  height: 24px;
  padding-top: 12px;
  font-family: 'Quattrocento', serif;
  font-size: 12px;
  color: #f8f8f8;
  border-top: 4px solid #08400c;
}
