<head>
	{% capture root %}{% if page.root %}{{ page.root }}{% else %}{{ post.root }}{% endif %}{%endcapture%}

	<title>{{page.title}}</title>
	<link href='http://fonts.googleapis.com/css?family=Quattrocento:400' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:300,700' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- For less, comment line 10 and uncomment 12 and 13-->
	<link rel="stylesheet" href="{{root}}css/master.css" type="text/css" media="screen" title={{page.title}} charset="utf-8">

	<!-- <link rel="stylesheet/less" href="{{root}}css/master.less" type="text/less" media="screen" title={{page.title}} charset="utf-8">
	<script src="{{root}}less-1.7.0.js" type="text/javascript"></script> -->

	<script language="javascript" src="/scripts/email.js"></script>

	<!--[if lt IE 7]>
	<style media="screen" type="text/css">
	#container {
		height:100%;
	}
	</style>
	<![endif]-->
{% include GoogleAnalytics.html %}
</head>
